/*
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 Very quick and dirty styles -- sorry :) !!
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/

@import url(https://fonts.googleapis.com/css?family=Yantramanav:300,400);

@font-face {
	font-family: 'Plakkaat';
	src: url('../fonts/plakkaat/plakkaat.eot');
	src: url('../fonts/plakkaat/plakkaat.eot?#iefix')
		format('embedded-opentype'),
		url('../fonts/plakkaat/plakkaat.woff2') format('woff2'),
		url('../fonts/plakkaat/plakkaat.woff') format('woff'),
		url('../fonts/plakkaat/plakkaat.ttf') format('truetype');
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font: 300 1.3em/1.4 "Yantramanav", sans-serif;
	padding: 3em 0;

}

h1 {
	color: rgba(0,0,0,0.2);
	font: normal 2em/1.4 "Plakkaat", sans-serif;
	text-align: center;
	margin-bottom: 32px;
	margin-bottom: 2rem;
}

.title-space {
	letter-spacing: -10px;
}

@media (min-width: 600px) {
	h1 {
		font-size: 8vw;
	}

	.title-space {
		letter-spacing: -20px;
	}
}


p {
	margin-bottom: .8em;
}

a {
	color: #8864e3;
	text-decoration: none;
	transition: color 1s ease;
}

a:hover {
	color: #39b86e;
}

.container {
	margin: auto;
	width: 84vw;
	max-width: 920px;
}

.vertical-center {
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
}

.vertical-space--double {
	mmargin-bottom: 64px;
	margin-bottom: 4rem;
}

svg[class*="icon-"] {
	fill: currentColor;
	height: 20px;
	width: 20px;
}

svg.icon-linkedin {
	width: 21.4px; /* 1.07 */
}

svg.icon-twitter {
	width: 22.5px; /* 1.125 */
}

svg.icon-medium {
	width: 23.642px; /* 1.1821 */
}

svg.icon-behance {
	height: 17px;
	width: 27.2px; /* 1.6 */
}

.icon-list {
	text-align: center;
}

.icon-list li {
	display: inline-block;
	list-style: none;
}

.icon-list li + li {
	margin-left: .6em;
}

.icon-list a {
	border: none;
	color: rgba(0,0,0,0.2);
}

.icon-list a:hover {
	color: #39b86e;
}

.text-center {
	text-align: center;
}

.hidden {
	display: none;
}

.hidden-v {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
